
/*Style for requesting an appointment*/
section#appointment .form-group {
    margin-bottom: 20px;
}

section#appointment .form-group input,
section#appointment .form-group textarea {
    padding: 15px;
}

section#appointment .form-group input.form-control {
    height: auto;
}

section#appointment .form-group textarea.form-control {
    height: 245px;
}

#appointment {
	padding-top: 60px;
}

/*Adjusting padding */
.c-main-title{
	padding-bottom: 60px
}

.pricingText {
	font-size: 200px;
}

/*Style for modal body*/
.modal-body a {
	float: right;
	margin: 0 0 1em 1em;
	width: 50%;
	max-width: 240px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: inherit;
}

.modal-body a img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.modal-body p a {
	margin: 0;
	text-align: inherit;
	float: none;
	width: auto;
	display: inline;
}

table {
	width: 100%;
}

	td, th {
		padding: 5px;
	}

	th {
		width: 1px;
		white-space: nowrap;
		text-align: right;
	}

	td {
		text-align: left;
	}

	input, select, textarea {
		box-sizing: border-box;
		width: 100%;
		margin: 2px 0;
	}

	#email-field {
		display: none;
	}

	.drPic{
		padding-bottom: 15px;
	}

/* Style for Styling the scheduling modal*/
	label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
  }

	/*Style for aligining the contact info*/
  .c-content-contact-1 > .row .c-body > .c-section {
      margin-bottom: 15px;
      text-align: center; }

	/*navbar custom color*/
  .navbar-custom {
  	background-color: #9ac5cd !important;
  }

	.navbar-custom a:hover {
	color: #4e73ce !important;
	}

	/*Padding for sections*/
	.newPatientsText {
	padding-bottom: 20px;
}

  #team {
  	padding-top: 150px;
  }

  #specials {
  	padding-top: 19px;
  }


  .reviewsBottomPadding {
  padding-bottom: 0px !important;
	}

  #services {
  	padding-top: 19px;
  }

  #forms {
  	padding-top: 19px;
  }

  .bottomFooter {
  	padding-top: 40px;
  }

	/*Padding for forms*/
	.form2 {
	}

	.form3 {
	}
	/*End padding for forms*/

	/*Header Code*/


	/** MEMBERS OVERRIDES */
	section#members {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f7f7f7;
		border-bottom: 1px solid #e8e8e8;
	}

	.pricing-box {
		border-radius: 1em;
	}

	.pricing-box.pricing-extended .pricing-action-area {
		background-color: #6e8cd7 !important;
		color: #ffffff !important;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
	}

	.pricing-box.pricing-extended .pricing-meta, .pricing-price, .pricing-price span, .pricing-box.pricing-extended .pricing-action-area .pricing-price span.price-tenure {
		color: #ffffff;
	}

	#members a.button {
		border-bottom: 3px solid rgba(0,0,0,0.15);
		background-color: #34495E;
		color: #ffffff;
	}

	.button.button-3d:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime):hover {
		background-color: #0e2b46 !important;
	}

	.memberButton {
	padding: 0 26px; */
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
	}

	/*restyling the team section*/
	.c-content-tab-4.c-opt-5 > .nav > li:nth-child(even) > a {
    background-color: #9ac5cd;
    margin: 3px;
	}

	.c-content-tab-4.c-opt-5 > .nav > li > a {
    color: #ffffff;
    background-color: #9ac5cd;
	}

	.tabPanelSpacing {
		padding-left: 2px;
		padding-right: 2px;
	}

	/*restyling specials boxes*/
	.c-tile-small {
		margin: 5px !important;
	}

	.specialsBox2 {
		padding-bottom: 50px !important;
	}

	.specialsText {
		padding-right: 15px;
		padding-left: 15px;
	}

	.dCodes1{
		font-size: 13px !important;
	}

	.dCodes2{
		font-size: 13px !important;
	}

	.dCodes3{
		font-size: 13px !important;
	}

	/*Style for header text*/
	#mainTitle {
		font-size: 5em !important;
		padding-left: 30px !important;
		padding-top: 60px;
		color: #ffffff !important;
	}

	#subtitleText{
		font-size: 3em;
		padding-left: 30px !important;
		padding-top: 5.5em !important;
		line-height: 20px;
		color: #ffffff !important;
	}

	#subtitleNumber {
		font-size: 3.2em;
		font-weight: bold;
		padding-left: 30px !important;
		color: #ffffff !important;
	}

	#subtitleTextExp {
		padding-top: 20px !important;
		font-size: 2.8em;
		padding-left: 30px !important;
		padding-bottom: 30px;
		color: #ffffff !important;
	}

  #subtitleTextExp span{
      font-size: 1.3em;
      color: #ffffff !important;
  }

	#mainTitle1 {
		font-size: 5em !important;
		padding-left: 30px !important;
		padding-top: 60px;
		color: #000000 !important;
	}

	#subtitleText1{
		font-size: 3em;
		padding-left: 30px !important;
		padding-top: 5.4em !important;
		line-height: 20px;
		color: #000000 !important;
	}

	#subtitleNumber1 {
		font-size: 3.2em;
		font-weight: bold;
		padding-left: 30px !important;
		color: #000000 !important;
	}

	#subtitleTextExp1 {
		padding-top: 20px !important;
		font-size: 2.8em;
		padding-left: 30px !important;
		padding-bottom: 30px;
		color: #000000 !important;
	}

  #subtitleTextExp1 span{
    font-size: 1.3em;
    color: #000000;
  }

	#headerButton {
	background-color: #6e8cd7;
	padding: 30px;
	margin-left: 38px;
	font-size: 1.5em;
	color: #ffffff;
	border: 0px solid;
	}

	#headerButton:hover {
		background-color: #4e73ce;
	}

	/*Footer Icons*/
	.socicon-facebook {
		background-color: #3b5998;
		color: #ffffff;
	}

	.socicon-google {
		background-color: #dd4b39;
		color: #ffffff;
	}

	#bioText {
		color: #000000;
	}

	#contactText {
		color: #000000;
	}

	#reviewsText{
		color: black !important;
	}



