
/*Stuff for requesting an appointment*/
section#appointment .form-group {
    margin-bottom: 20px;
}

section#appointment .form-group input,
section#appointment .form-group textarea {
    padding: 15px;
}

section#appointment .form-group input.form-control {
    height: auto;
}

section#appointment .form-group textarea.form-control {
    height: 245px;
}

#appointment {
	padding-top: 60px;
}

/*End stuff for requesting an appointment*/

/*Adjusting padding */
.c-main-title{
	padding-bottom: 60px
}

#team {
	padding-top: 70px;
}

.pricingText {
	font-size: 200px;
}

/*Stuff for modal body*/
.modal-body a {
	float: right;
	margin: 0 0 1em 1em;
	width: 50%;
	max-width: 240px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: inherit;
}

.modal-body a img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}

.modal-body p a {
	margin: 0;
	text-align: inherit;
	float: none;
	width: auto;
	display: inline;
}

table {
	width: 100%;
}

	td, th {
		padding: 5px;
	}

	th {
		width: 1px;
		white-space: nowrap;
		text-align: right;
	}

	td {
		text-align: left;
	}

	input, select, textarea {
		box-sizing: border-box;
		width: 100%;
		margin: 2px 0;
	}

	#email-field {
		display: none;
	}
	/*End stuff for modal body*/

	.drPic{
		padding-bottom: 15px;
	}

/* Stuff for Styling the scheduling modal*/
	label {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer;
  }
  /*End Stuff for styling the scheduling modal*/

	/*For aligining the contact info*/
  .c-content-contact-1 > .row .c-body > .c-section {
      margin-bottom: 15px;
      text-align: center; }

	/*navbar custom color*/
  .navbar-custom {
  	background-color: #9ac5cd !important;
  	color: #e7e7e7 !important;
  }

	.navbar-custom a:hover {
	color: #4e73ce !important;
	}

	/*For the custom ajax pop up boxes color*/
	.cbp-caption-activeWrap {
		background-color: #6e8cd7;
		opacity: .9;
		color: #e7e7e7;
	}

	.newPatientsText {
	padding-bottom: 20px;
}

	/*padding for sections*/
  #team {
  	padding-top: 50px;
  }

  #specials {
  	padding-top: 50px;
  }

  #reviews {
  	padding-top: 50px;
  }

  #services {
  	padding-top: 50px;
  }

  #forms {
  	padding-top: 50px;
  }



