/*CSS Specifically for making responsive changes*/

/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/


@media (max-width: 1199px) {


}


@media (min-width: 992px) and (max-width: 1199px) {



}



@media (max-width: 991px) {



}


@media (min-width: 768px) and (max-width: 991px) {




}


@media (max-width: 767px) {
  .c-main-title {
    font-size: 20px !important;
    line-height: 10px; 
    padding-left: 65px !important;
    padding-bottom: 35px !important;
  }

    .c-sub-title {
    font-size: 16px !important;	
    line-height: 15px !important;
    padding-left: 75px !important;
    }

    .headerButton {
    padding-left: 75px !important;

    }


   }

.c-layout-revo-slider-3 .c-main-title-1 {
  line-height: 34px;
  display: inline-block;
  padding: 40px; }

.c-layout-revo-slider-3 .c-main-title-2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 50px;
  letter-spacing: 1px;
  line-height: 68px; }
}


}
