/*CSS Specifically for making responsive changes*/

/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/


@media (max-width: 1199px) {


}


@media (min-width: 992px) and (max-width: 1199px) {



}



@media (max-width: 991px) {



}


@media (min-width: 768px) and (max-width: 991px) {




}


@media (max-width: 767px) {
.c-content-contact-1 > .row .c-body {
    position: relative;
    z-index: 100;
    background: red;
    margin: 40px 0;
    padding: 60px 40px;
}


}
